 html {
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
  text-align: center;
}
h1 {
  font-size: 1.4rem; 
  color: white;
}
p { 
  font-size: 1.4rem;
}
.topnav { 
  overflow: hidden; 
  background-color: #0A1128;
}
body {  
  margin: 5 px;
}
.content { 
  padding: 1%;
}



.card-title { 
  font-size: 1.0rem;
  font-weight: bold;
  color: #034078
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow if needed */
  text-overflow: ellipsis; /* Show ellipsis (...) if content overflows */
}

/*.card-grid {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
}

.card {
  flex: 1;
  margin: 10px;
  /*max-width: calc(25% - 20px); /* Each card takes up 25% of the container width with some margin */
  box-sizing: border-box;
}

.chart-container,
canvas {
  width: 100%;
  max-width: 400px;
  height: 300px; /* Adjust the height as needed */
  border: 1px solid #ccc; /* Add borders for visual separation */
  /*overflow-x: auto; /* Enable horizontal scrolling */
}*/

.card-grid {
  display: flex;
  justify-content: center;
}

.card {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  overflow-x: auto;
}

input[type=submit] {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
  }

input[type=submit]:hover {
  background-color: #1282A2;
}

input[type=text], input[type=number], select {
  width: 50%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 1.2rem; 
}
.value{
  font-size: 1.2rem;
  color: #1282A2;  
}
.state {
  font-size: 1.2rem;
  color: #1282A2;
}
button {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.button-on {
  background-color: #034078;
}
.button-on:hover {
  background-color: #1282A2;
}
.button-off {
  background-color: #858585;
}
.button-off:hover {
  background-color: #252524;
} 